/*Estilo a todo el cuerpo del html*/
body{
	margin:0;
	height: 100%
	width: 100%;
	font-family: 'Arial';
	background: #EAEAEA;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*Estilo para contenedor de login .cont*/
.cont{
	margin-top:5%;
	width: 80%;
	height: 500px;
	background: white;
	border: 1px black solid;
	display: flex;
}
/*Estilo del contendor parte 1 (izquierda)*/
.cont_p1{ 
	background: #1f165d;
	width: 50%;
	height: 100%;
}
/*Estilo del contendor parte 2 (Derecha)*/
.cont_p2{
	width: 50%;
	height: 100%;
}
/*sub Div dentro de la parte 2 del contenedor*/
.cont_p2s1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*SPAN para las etiquetas de las entradas e texto*/
.spant{
	width: 80%;
	font-size: 22px;
	margin-top: 5%;
}
/*Estilo de Input para login*/
.contp2_inp{
	font-size: 20px;
	border: 1px solid #c3c3c3;
	width: 75%;
	padding: 10px;
}
/*BOTON de inicio de sesión*/
.contp2_btn{
	width: 25%;
	border-radius: 5px;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 20px;
	color: white;
	border: none;
	padding: 10px;
	background: #170977;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*TEXTO Y LIGA DE REGISTRO EN LOGIN*/
.contp2_div{
	font-size: 20px;
	width: 100%;
	text-align: center;
}
.contp2_div span{
	color: #1f165d;
	font-weight: bold;
}
/*Al seleccionar un input se representará d*/
 input:focus, input[type]:focus {
    border-color: rgb(23, 9, 119);
    box-shadow: 0 1px 1px rgba(19, 12, 64, 0.075)inset, 0 0 8px rgba(48,42,93,0.6);
    outline: 0 none;
}

